import { css } from 'lit';

export const {{STYLES_NAME}} = css`
  /* Base styles */
  :host {
    display: block;
  }

  .{{COMPONENT_NAME}} {
    font-family: var(--bp-font-family-sans);
  }

  /* Variants */

  /* Sizes */

  /* States */
`;
