/* Generated primitive color tokens */
:root {
  /* white scale */
  --bp-white-50: #eeeeee;
  --bp-white-100: #dedede;
  --bp-white-200: #bebebe;
  --bp-white-300: #9e9e9e;
  --bp-white-400: #8f8f8f;
  --bp-white-500: #ffffff;
  --bp-white-600: #e1e1e1;
  --bp-white-700: #c4c4c4;
  --bp-white-800: #8c8c8c;
  --bp-white-900: #555555;
  --bp-white-950: #262626;

  /* black scale */
  --bp-black-50: #000000;
  --bp-black-100: #000000;
  --bp-black-200: #000000;
  --bp-black-300: #000000;
  --bp-black-400: #000000;
  --bp-black-500: #000000;
  --bp-black-600: #000000;
  --bp-black-700: #000000;
  --bp-black-800: #000000;
  --bp-black-900: #000000;
  --bp-black-950: #000000;

  /* gray scale */
  --bp-gray-50: #686a6b;
  --bp-gray-100: #5f6265;
  --bp-gray-200: #4f5357;
  --bp-gray-300: #3e454a;
  --bp-gray-400: #353e44;
  --bp-gray-500: #67737c;
  --bp-gray-600: #59656e;
  --bp-gray-700: #4d575f;
  --bp-gray-800: #343c43;
  --bp-gray-900: #1b2227;
  --bp-gray-950: #080b0e;

  /* sulphurYellow scale */
  --bp-sulphurYellow-50: #dedcd7;
  --bp-sulphurYellow-100: #d0cdc2;
  --bp-sulphurYellow-200: #b4af9f;
  --bp-sulphurYellow-300: #99927b;
  --bp-sulphurYellow-400: #8d8365;
  --bp-sulphurYellow-500: #f9ebc2;
  --bp-sulphurYellow-600: #ddcfa7;
  --bp-sulphurYellow-700: #c1b490;
  --bp-sulphurYellow-800: #8b8063;
  --bp-sulphurYellow-900: #554e37;
  --bp-sulphurYellow-950: #262216;

  /* yellowOrange scale */
  --bp-yellowOrange-50: #b5a89c;
  --bp-yellowOrange-100: #b39981;
  --bp-yellowOrange-200: #a47e5b;
  --bp-yellowOrange-300: #986228;
  --bp-yellowOrange-400: #985000;
  --bp-yellowOrange-500: #ff9c1e;
  --bp-yellowOrange-600: #e78600;
  --bp-yellowOrange-700: #cb7300;
  --bp-yellowOrange-800: #954d00;
  --bp-yellowOrange-900: #612900;
  --bp-yellowOrange-950: #2c0f00;

  /* vandarPoelBlue scale */
  --bp-vandarPoelBlue-50: #3e4448;
  --bp-vandarPoelBlue-100: #324048;
  --bp-vandarPoelBlue-200: #223642;
  --bp-vandarPoelBlue-300: #092d3e;
  --bp-vandarPoelBlue-400: #00293f;
  --bp-vandarPoelBlue-500: #004f6e;
  --bp-vandarPoelBlue-600: #004563;
  --bp-vandarPoelBlue-700: #003b57;
  --bp-vandarPoelBlue-800: #00283e;
  --bp-vandarPoelBlue-900: #001526;
  --bp-vandarPoelBlue-950: #00050e;

  /* green scale */
  --bp-green-50: #646c64;
  --bp-green-100: #566756;
  --bp-green-200: #405a41;
  --bp-green-300: #264e28;
  --bp-green-400: #0b4a14;
  --bp-green-500: #38853e;
  --bp-green-600: #27762f;
  --bp-green-700: #1e6626;
  --bp-green-800: #084813;
  --bp-green-900: #002b01;
  --bp-green-950: #001000;

  /* red scale */
  --bp-red-50: #756664;
  --bp-red-100: #775956;
  --bp-red-200: #704542;
  --bp-red-300: #6c2d2a;
  --bp-red-400: #6e1819;
  --bp-red-500: #b94642;
  --bp-red-600: #a83635;
  --bp-red-700: #942c2b;
  --bp-red-800: #6c1618;
  --bp-red-900: #460005;
  --bp-red-950: #1e0001;
}

/* OKLCH colors for modern browsers */
@supports (color: oklch(0 0 0)) {
  :root {
    /* white scale */
    --bp-white-50: oklch(0.95 0 0);
    --bp-white-100: oklch(0.9 0 0);
    --bp-white-200: oklch(0.8 0 0);
    --bp-white-300: oklch(0.7 0 0);
    --bp-white-400: oklch(0.65 0 0);
    --bp-white-500: oklch(1 0 0);
    --bp-white-600: oklch(0.91 0 0);
    --bp-white-700: oklch(0.82 0 0);
    --bp-white-800: oklch(0.64 0 0);
    --bp-white-900: oklch(0.45 0 0);
    --bp-white-950: oklch(0.27 0 0);

    /* black scale */
    --bp-black-50: oklch(0 0 0);
    --bp-black-100: oklch(0 0 0);
    --bp-black-200: oklch(0 0 0);
    --bp-black-300: oklch(0 0 0);
    --bp-black-400: oklch(0 0 0);
    --bp-black-500: oklch(0 0 0);
    --bp-black-600: oklch(0 0 0);
    --bp-black-700: oklch(0 0 0);
    --bp-black-800: oklch(0 0 0);
    --bp-black-900: oklch(0 0 0);
    --bp-black-950: oklch(0 0 0);

    /* gray scale */
    --bp-gray-50: oklch(0.52 0 240);
    --bp-gray-100: oklch(0.5 0.01 240);
    --bp-gray-200: oklch(0.44 0.01 240);
    --bp-gray-300: oklch(0.39 0.01 240);
    --bp-gray-400: oklch(0.36 0.02 240);
    --bp-gray-500: oklch(0.55 0.02 240);
    --bp-gray-600: oklch(0.5 0.02 240);
    --bp-gray-700: oklch(0.45 0.02 240);
    --bp-gray-800: oklch(0.35 0.02 240);
    --bp-gray-900: oklch(0.25 0.01 240);
    --bp-gray-950: oklch(0.15 0.01 240);

    /* sulphurYellow scale */
    --bp-sulphurYellow-50: oklch(0.89 0.01 91.4);
    --bp-sulphurYellow-100: oklch(0.85 0.01 91.4);
    --bp-sulphurYellow-200: oklch(0.75 0.02 91.4);
    --bp-sulphurYellow-300: oklch(0.66 0.03 91.4);
    --bp-sulphurYellow-400: oklch(0.61 0.04 91.4);
    --bp-sulphurYellow-500: oklch(0.94 0.06 91.4);
    --bp-sulphurYellow-600: oklch(0.86 0.06 91.4);
    --bp-sulphurYellow-700: oklch(0.77 0.05 91.4);
    --bp-sulphurYellow-800: oklch(0.6 0.04 91.4);
    --bp-sulphurYellow-900: oklch(0.42 0.04 91.4);
    --bp-sulphurYellow-950: oklch(0.25 0.02 91.4);

    /* yellowOrange scale */
    --bp-yellowOrange-50: oklch(0.74 0.02 64.5);
    --bp-yellowOrange-100: oklch(0.7 0.05 64.5);
    --bp-yellowOrange-200: oklch(0.62 0.07 64.5);
    --bp-yellowOrange-300: oklch(0.54 0.1 64.5);
    --bp-yellowOrange-400: oklch(0.51 0.13 64.5);
    --bp-yellowOrange-500: oklch(0.78 0.17 64.5);
    --bp-yellowOrange-600: oklch(0.71 0.17 64.5);
    --bp-yellowOrange-700: oklch(0.64 0.16 64.5);
    --bp-yellowOrange-800: oklch(0.5 0.13 64.5);
    --bp-yellowOrange-900: oklch(0.35 0.11 64.5);
    --bp-yellowOrange-950: oklch(0.21 0.07 64.5);

    /* vandarPoelBlue scale */
    --bp-vandarPoelBlue-50: oklch(0.38 0.01 233.4);
    --bp-vandarPoelBlue-100: oklch(0.36 0.02 233.4);
    --bp-vandarPoelBlue-200: oklch(0.32 0.03 233.4);
    --bp-vandarPoelBlue-300: oklch(0.28 0.05 233.4);
    --bp-vandarPoelBlue-400: oklch(0.26 0.07 233.4);
    --bp-vandarPoelBlue-500: oklch(0.4 0.08 233.4);
    --bp-vandarPoelBlue-600: oklch(0.37 0.08 233.4);
    --bp-vandarPoelBlue-700: oklch(0.33 0.08 233.4);
    --bp-vandarPoelBlue-800: oklch(0.26 0.07 233.4);
    --bp-vandarPoelBlue-900: oklch(0.18 0.06 233.4);
    --bp-vandarPoelBlue-950: oklch(0.11 0.03 233.4);

    /* green scale */
    --bp-green-50: oklch(0.52 0.02 145);
    --bp-green-100: oklch(0.5 0.04 145);
    --bp-green-200: oklch(0.44 0.05 145);
    --bp-green-300: oklch(0.39 0.08 145);
    --bp-green-400: oklch(0.36 0.1 145);
    --bp-green-500: oklch(0.55 0.13 145);
    --bp-green-600: oklch(0.5 0.13 145);
    --bp-green-700: oklch(0.45 0.12 145);
    --bp-green-800: oklch(0.35 0.1 145);
    --bp-green-900: oklch(0.25 0.09 145);
    --bp-green-950: oklch(0.15 0.05 145);

    /* red scale */
    --bp-red-50: oklch(0.52 0.02 25);
    --bp-red-100: oklch(0.5 0.04 25);
    --bp-red-200: oklch(0.44 0.06 25);
    --bp-red-300: oklch(0.39 0.09 25);
    --bp-red-400: oklch(0.36 0.12 25);
    --bp-red-500: oklch(0.55 0.15 25);
    --bp-red-600: oklch(0.5 0.15 25);
    --bp-red-700: oklch(0.45 0.14 25);
    --bp-red-800: oklch(0.35 0.12 25);
    --bp-red-900: oklch(0.25 0.1 25);
    --bp-red-950: oklch(0.15 0.06 25);
  }
}
